:root {
    --color-100: #e6e9fa;
    --color-200: #97a7d6;
    --color-300: #5e70d6;
    --color-400: #3d488a;
    --color-500: #2241f7;
}

body {
    font-family: Roboto, sans-serif;
    color: #000;
    background-color: #fff;
}

.container-fluid {
    padding: 0;
}

.kategorie-sekcja {
    background-color: #a7a7de;
    padding: 60px 20px;
}
